<!-- <nz-table 
    #ajaxTable 
    [nzFrontPagination]="false" 
    [nzData]="listOfData" 
    [nzLoading]="loading"
    [nzShowTotal]="totalTemplate" 
    [nzTotal]="total" 
    [(nzPageIndex)]="pageIndex" 
    (nzPageIndexChange)="searchData(1)"
    (nzPageSizeChange)="searchData(true)">
  <ng-template #totalTemplate let-total> 共 {{ total }} 条 </ng-template>
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th>工厂名称</th>
      <th>地址</th>
      <th>工厂经度</th>
      <th>工厂纬度</th>
      <th>更新时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{ data.factoryname }} </td>
      <td>{{ data.departurename }}{{data.departureaddress}}</td>
      <td>{{ data.lng }}</td>
      <td>{{data.lat}}</td>
      <td>{{data.createDate}}</td>
      <td>wahh</td>
    </tr>
  </tbody>
</nz-table> -->

<nz-table #ajaxTable [nzData]="listOfData" [nzFrontPagination]='false' [nzShowTotal]="totalTemplate" [nzTotal]="total"
  [nzPageSize]="pageSize" [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="searchData()">
  <ng-template #totalTemplate let-total> 共 {{ total }} 条 </ng-template>
  <thead>
    <tr>
      <th>工厂名称</th>
      <th>地址</th>
      <th>工厂经度</th>
      <th>工厂纬度</th>
      <th>更新时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{ data.factoryname }} </td>
      <td>{{ data.departurename }}{{data.departureaddress}}</td>
      <td>{{ data.lng }}</td>
      <td>{{data.lat}}</td>
      <td>{{data.createDate}}</td>
      <td>wahh</td>
    </tr>
  </tbody>
</nz-table>
<!-- <nz-table #feedbackData [nzData]='listOfData' [nzFrontPagination]='false' [nzShowTotal]='totalTemplate'
  [nzTotal]='total' [nzPageSize]='pageSize' [(nzPageIndex)]='pageIndex' (nzPageIndexChange)='getFeedback()'>

</nz-table> -->
