.home_title
    font-size 20px
    color #ff7777
    text-align: center
.home_time
    float right
    font-size 20px
.billlist
    width: 200px
    margin: 0 auto
    padding: 30px
    border 1px dashed #cccccc
    border-radius: 3px
    div
        width: 100%
        font-size: 12px
        line-height: 40px
        border-bottom 1px dashed #ccc
        &:nth-child(1)
            text-align: center
