h3
    text-align: center
ul
    width: 300px
    margin: 0 auto
    padding: 20px
    border: 1px solid #ccc
    span 
        width: 100px
        text-align: right 
        display inline-block
    .hobby
        width: auto
    button 
        width 78px
        height 28px
    .remark
        float left