.right-control
  position relative
  height 100%
  .header-wrapper
    height 180px
    background #fff
    padding 0
  .quick-add-wrapper
    width 400px
    position absolute
    bottom 40px
    left 50%
    transform translate(-50%, 0)