.header
    width: 100%
    height: 80px
    background: #000
    user-select none
    position relative
    .header_title
        width: 1200px
        height: 80px
        line-height: 80px
        background: #000
        margin: 0 auto
        p
            height: 80px
            width: 50%
            line-height: 80px
            color #fff
            font-size 25px
            text-indent: 3em
            float left
        input 
            float left
            width 220px
            height 30px
            border-radius: 5px
            outline:none
            border: 1px solid #ccc
            padding: 0 10px
            margin-top: 20px
        .asiderBtn
            width: 20px
            height 20px
            background: #eee
            position absolute
            right: 20px
            top: 50%
            margin-top: -10px
            cursor pointer
            border-radius: 10px
            &:hover
                background #ccc
.container
    width: 1200px
    margin: 0 auto
    user-select none
    ul
        li
            width: 100%
            height: 50px
            line-height: 50px
            border-bottom: 1px dashed #ccc
            text-decoration: line-through

            input
                float left
                width: 20px
                height: 20px
                margin-top: 15px
                margin-left: 20px
                cursor pointer
            p
                float left
                cursor pointer
                line-height: 50px
                font-size: 16px
                color: #212832
                margin-left: 20px
            span
                float right
                width: 30px
                height: 30px
                border: 1px solid #CFD5DC
                border-radius: 3px
                line-height: 30px
                text-align: center
                margin-top: 10px
                margin-right: 20px
                background transparent
                color: #fff
                cursor pointer
                &:hover
                    background #1B88EE
                    border: 1px solid #1B88EE
            &.active p
                text-decoration: line-through
    .deleteAll
        width 100%
        height 60px
        button
            float right
            padding: 7px 24px
            margin-right: 20px
            margin-top: 10px
            border-radius: 5px
            outline: none 
            border: 1px solid #CFD5DC
            color: #fff
            cursor pointer
            font-size: 16px
            &:hover
                background #1B88EE
                border: 1px solid #1B88EE
.mask_container
    width 300px
    height: 80px
    position fixed
    top 20%
    left: 50%
    margin-left: -150px
    background #fff
    line-height: 80px
    font-size: 20px
    color #f66
    text-align: center
    border: 1px solid rgba(14,15,32,0.5)
    border-radius: 10px
    background rgba(14,15,32,0.5)
    .msdk_close
        display block
        position absolute
        right: 0
        top: 0
        width: 30px
        height: 30px
        border: 1px solid #CFD5DC
        border-radius: 3px
        line-height: 30px
        text-align: center
        margin-top: 10px
        margin-right: 20px
        background transparent
        color: #fff
        cursor pointer
        &:hover
            background #1B88EE
            border: 1px solid #1B88EE