.senior-source
  min-height 200px
  .searchlist
    padding 10 20px
    background #0f0
    .label
      line-height 32px
      text-align center
    .searchbtn
      button
        width 78px
        height 30px
        float right