.flagBtn
    width: 72px
    height: 28px
    font-size: 12px
    border: 1px solid #eeeeee
    text-align: center
    line-height: 28px
    cursor pointer
.header
    line-height: 80px
    width: 100%
    background #000
    color: #fff