<h3>保存搜索历史</h3>
<div class="search_container">
  <input type="text" [(ngModel)]="searchVal">
  <button (click)="ngSearchClick()">搜索</button>
  <div class="history">
    <span  *ngFor="let item of historyList; let key=index" (click)="ngSearchAgain(item)">{{item}} <strong (click)="ngDeleteClick(key)">x</strong> </span>
    <!-- <span>sda </span>
    <span>sda </span>
    <span>asdfasd </span>
    <span>sda </span>
    <span>sda </span>
    <span>sda </span>
    <span>sda </span> -->
  </div>
</div>