h3
    text-align: center
.search_container
    width: 251px
    border: 1px dashed #eeeeee
    padding: 20px
    margin: 0 auto
    input 
        height 24px
    button
        width: 78px
        height: 28px
    .history
        width: 100%
        span 
            padding: 5px 5px
            cursor pointer
            border: 1px solid #eeeeee
            border-radius: 5px
            margin: 5px
            display inline-block
            position relative
            strong
                position: absolute
                top: 0
                right: 0
                &:hover
                    background: #f66

