.asider
    width: 300px
    height: calc(100% - 80px)
    background: #000
    position fixed
    left 0
    bottom 0
    color: #fff
    span 
        position: absolute
        top: 50%
        right: -10px
        margin-top: -130px
        width: 10px
        line-height: 50px
        background: #ff6666
        cursor pointer
    transform: translate(-100%,0)
    transition: all 0.5s
