<ul nz-menu [nzMode]="'inline'" style="height:100%">
  <li nz-submenu *ngFor="let items of menulist">
    <span title>{{items.name}}</span>
    <ul>
      <li nz-menu-item *ngFor="let menu of items.children">
        <!-- <a [routerLink]="[ 'source/'+menu.path]">{{menu.name}}</a> -->
        <a [routerLink]="[ 'source/', menu.path ]">{{menu.name}}</a>
      </li>
    </ul>
  </li>
  <!-- <li nz-submenu>
    <span title><i nz-icon type="user"></i>subnav 1</span>
    <ul>
      <li nz-menu-item>
        <a [routerLink]="[ 'source/primarySource' ]">初级货源</a>
      </li>
      <li nz-menu-item><a [routerLink]="[ 'source/seniorSource' ]">高级货源</a></li>
      <li nz-menu-item>option3</li>
      <li nz-menu-item>option4</li>
    </ul>
  </li> -->

</ul>
