@import '../../../../assets/common/variables.styl'
.logo
  padding 12px
  img
    width 40px
    height 40px
    margin-left 8px
  .asider_title
    color $white-text
    margin-left 8px
    flex 1
    width 100px
    display inline-block
    font-size 14px
  .asider_btn
    color $white-text
    padding 10px
    display inline-block
    font-size 18px
.add_list_wrapper
  width 100%
  text-align center
  .add_list_btn
    margin-top 8px
    text-align center
    background $bg1
    color $white-text
    &:hover
      color $blue-text
      span
        colro $blue-text
